!!! 5
%html

  %head
    %title Raffleboard
    %link{ :href => 'stylesheets/reset.css', :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => 'stylesheets/application.css', :type => 'text/css', :rel => 'stylesheet' }
    %script{ :src => 'javascripts/jquery.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/rand.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/solari.js', :language => 'javascript', :type => 'text/javascript' }
    %script{ :src => 'javascripts/application.js', :language => 'javascript', :type => 'text/javascript' }

  %body

    #header
      %a#pick_1.pick{ :href => '#' }
        = "Sortear"

      %a{:href => "/"} Início

    #wrapper

      #prizes
        %img{ :id => 'sponsor', :src => '/images/sponsors/DevinRio.png' }

      #winners
        %h1= 'WINNERS (<span id="entry_counter">0</span> entries left)'
        %ul

      #drawing
        %ul
          %li

      %ul#credits
        %li
          adapted by
          %a{ :href => 'http://github.com/horaextra/raffleboard' } #horaextra
        %li
          written by
          %a{ :href => 'http://twitter.com/adamlogic' } @adamlogic
        %li
          designed by
          %a{ :href => 'http://twitter.com/nummi' } @nummi
        %li
          inspired by
          %a{ :href => 'http://twitter.com/webpoobah' } @webpoobah
        %li
          fork me on
          %a{ :href => 'http://github.com/adamlogic/raffleboard' } github

